<div class="button_4">
  <div class="feta_button">
    <div class="feta_button_content density_none density_button">
    </div>
  </div>
  <div class="feta_button">
    <div class="feta_button_content density_low density_button">
    </div>
  </div>
  <div class="feta_button">
    <div class="feta_button_content density_medium density_button">
    </div>
  </div>
  <div class="feta_button right">
    <div class="feta_button_content density_high density_button">
    </div>
  </div>
  <div class="clear"></div>
</div>