<div class="button_4">
  <div class="feta_button">
    <div class="feta_button_content int_none intensity_button">
    </div>
  </div>
  <div class="feta_button">
    <div class="feta_button_content int_low intensity_button">
    </div>
  </div>
  <div class="feta_button">
    <div class="feta_button_content int_medium intensity_button">
    </div>
  </div>
  <div class="feta_button right">
    <div class="feta_button_content int_high intensity_button">
    </div>
  </div>
  <div class="clear"></div>
</div>