<div class="span6">
  <div id="spot_image_container" class="spot_image_container">
    <img id="spot_image" class="analysis_image" src="<%= spot_image_url(@spot) %>?t=<%= Time.now.to_i %>" alt="A SPOT!"></img>
  </div>
</div>
<div class="span2" id="spot_questions">
  <br/>
  Button One
  <br/>
  <br/>
</div>
<div class="span2" id="spot_questions">
  <br/>
  Button Two
  <br/>
  <br/>
</div>
<div class="span2" id="spot_questions">
  <br/>
  Button Two
  <br/>
  <br/>
</div>