		<script src="/assets/main.js" type="text/javascript" charset="utf-8"></script>
        <script>

            function next() {
	            //load image
	            var img = $("<img/>");
	            img.attr("id", "zoomParent");
	            img.attr("src", "<%= spot_image_url(@spot) %>?t=<%= Time.now.to_i %>");
	            img.attr("width", "600px");
	            img.load(function() {
		            $("#container").append($(this));
		            document.getElementById("zoomParent").draggable = false;
		            $("#glass").css("background-image", "url('<%= spot_image_url(@spot) %>?t=<%= Time.now.to_i %>')");
		            currentCounter++;
		
		            $('#' + zoomImageID).bind('mousemove', function(event) {
			            var evt = window.event;
			            var x = evt.clientX;
			            var y = evt.clientY;
			            if(mouseDown) {
				            moveMag(x, y);
				            log(x + " " + y)
			            }
			            return false; 
		            });
	            })
            }
        </script>
		<script src="/assets/magnify.js" type="text/javascript" charset="utf-8"></script>
		
<style type="text/css" media="screen">
			body {
				font-family: "Arial";
				font-size: 80%;
			}
			#container {
				float: left;
			}
			#interface {
				float: left;
				padding: 10px;
			}
			#container canvas {
				max-width: 500px;
			}
			#buttons {
				clear: both;
				display: block;
			}
			.slider {
				display: block;
				margin-bottom: 40px;
			}
			input[type="range"] {
				width: 500px;
			}
			.labels {
				clear: both;
			}
			.labels p {
				float: right;
			}
			.labels p:first-child {
				float: left;
			}
			button {
				padding: 10px;
			}
			#buttons button {
				float: right;
			}
			#buttons button:first-child {
				float: left;
			}
			#intensity .preview {
				background-repeat: no-repeat;
				background-image: url("/assets/images/sliders/sprite.png");
				width: 50px;
				height: 50px;
			}
			.preview {
				width: 50px;
				height: 50px;
				position: relative;
				left: 0px;
				background: white;
				/*border: 1px solid #333;*/
				clear: left;
				margin-bottom: 8px;
			}
			#menu {
				position: absolute;
				top: 52px;
				background-color: white;
			}
			#menu ul {
				padding: 0;
				margin: 0;
			}
			#menu li {
				padding: 15px 20px;
				text-indent: 0;
				list-style: none;
				color: #999;
				border-bottom: 1px solid #ddd;
				
			}
			#glass {
				width: 200px;
				height: 200px;
				overflow: hidden;
				position: absolute;
				border-radius: 200px;
				display: none;
				background-repeat: no-repeat;
				box-shadow: hsla(0, 0%, 47%, 0.699219) 0px 0px 10px;
				background-color: white;
			}
			h1 {
				margin: 0px 0 10px 0;
				clear: both;
				padding-top: 10px;
				font-size: 20px;
			}
			input[type='range'] {
				-webkit-appearance: none !important;
				border-radius: 10px;
				background: #333;
				height: 7px;
			}
			input[type='range']::-webkit-slider-thumb {
				-webkit-appearance: none !important;
				background: white;
				box-shadow: hsla(0, 0%, 47%, 1) 0px 0px 5px;
				border-radius: 20px;
				height: 20px;
				width: 20px;
				cursor:pointer;
			}

		</style>
	</head>
	<body>
		
		<div id="container"></div>
		<div id="interface">
			<h1>How many cancer cells can you see?</h1>
			<div id="quantity" class="slider" >
				<input type="range" min="0" max="1" value="0.5" step="0.01">
				<div class="labels">
					<p>
						few
					</p>
					<p>
						many
					</p>
				</div>
			</div>
			<h1>What proportion of the cancer cells are stained?</h1>
			<div id="frequency" class="slider" >
				<div class="preview"></div>
				<input type="range" min="0" max="1" value="0.5" step="0.01">
				<div class="labels">
					<p>
						none
					</p>
					<p>
						all
					</p>
				</div>
			</div>
			<h1>How intense is the staining?</h1>
			<div id="intensity" class="slider">
				<div class="preview"></div>
				<input type="range" min="0" max="1" value="0.5" step="0.01">
				<div class="labels">
					<p>
						weak
					</p>
					<p>
						strong
					</p>
				</div>
			</div>
			<div id="buttons">
				<button id="not-sure">
					Not sure
				</button>
				<button id="switch">
					switch
				</button>
				<button id="ok" style="width:120px">
					OK
				</button>
			</div>
			<div id="glass"></div>
