body{
  padding-left: 5px;
  padding-right: 5px;
}

#brand {
	text-align:center;
}

.navbar-fixed-top{
  margin-left:-5px;
  margin-right: -5px;
  margin-bottom: 5px;
}

#density {

height:77px;

}

#main_container .row{
  padding-top: 0px;
}

#main_container .row{
  min-height: auto;
}

#spot_question{
	background-color:black;
 	color: white;
	text-align:center;
	padding-bottom:10px;
}

.density_button{
	width:77px;
	height:67px;
	float:left;
}

#instruction{
	float:left;
	width:70%;
}
#skip_button{
	float:right;
}
#skip_button a, a:link, a:visited, a:hover, a:active{
	ext-decoration: none;
	color: #000;
}


#footer {
	background:url(footer.png);
}
