body{
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-fixed-top{
  margin-left:-5px;
  margin-right: -5px;
  margin-bottom: 5px;
}

#main_container .row{
  padding-top: 0px;
  min-height: auto;
  margin-left: 0px;
}

#main_container{
  margin-left: 0px;
  width: 758px;
}

body{
  padding-top: 45px;
}