// Place all the styles related to the Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.analysis_image {
  display:block;
  width:75%;
  margin:0 auto;
}

.spot_image_container{
  background: url('loading.gif') center center no-repeat;
  margin-bottom:5px;
}

#spot_image_row{
  margin-left: 25px;
  padding: 5px;
  background:#eee;
}

#spot_questions{
  background:#ccc;
  min-height: 20px;
}